{% extends "partials/layout.njk" %}
{% block title %}Circle Answer{% endblock %}
{% block content %}
    <b>Area</b><br>
    A = πr<sup>2</sup><br>
    A = π{{ r }}<sup>2</sup><br>
    A = π{{ r * r }}<br>
    A = {{ a }}<br>

    <b>Circumference</b><br>
    C = 2πr<br>
    C = π{{ 2 * r }}<br>
    C = {{ c }}<br>

    <b>Volume</b><br>
    V = (4/3)πr<sup>3</sup><br>
    V = (4/3)π{{ r }}<sup>3</sup><br>
    V = {{ volume }}<br>
{% endblock %}
